:host {

  ion-content {
    --padding-top: 3%;
    --padding-start: 5%;
    --padding-end: 5%;
    --background:#3f3f3f;
  }

  ion-title {
    text-align: center;
  }

  ion-button {
    text-transform: capitalize;
    width: 150px;
    margin-right: 15px;
    border: rgb(159, 0, 77) solid 1px;
    border-radius: 9px;
  }

}
