<ion-content>
	<form enctype="multipart/form-data" (ngSubmit)="upload()" [formGroup]="uploadForm" >
		<div class="input-group">

      <ion-item>
        <app-creation-upload formControlName="creation"></app-creation-upload>
      </ion-item>

      <ion-item>
				<ion-input type="text" placeholder="Title" formControlName="title"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="Description ?" formControlName="description"></ion-input>
			</ion-item>

		</div>
		<ion-button type="submit" expand="block" [disabled]="!uploadForm.valid">Submit</ion-button>
	</form>
</ion-content>
