<ion-content>
  <div *ngIf="user">
    <div class="header">
      <ion-img class="pp" [src]="src"></ion-img>
      <ion-list-header>{{user.username}}</ion-list-header>
      <ion-list-header>{{user.email}}</ion-list-header>
    </div>

    <div *ngIf="user.profile_picture.description !== 'null'">
        {{ user.profile_picture.description }}
    </div>

    <div *ngIf="user.profile_picture.paypal_link !== 'null' || !user.profile_picture.paypal_link">
     <a [href]="user.profile_picture.paypal_link" target="_blank" rel="noopener noreferrer">Paypal</a>
    </div>
    <div *ngIf="user.profile_picture.patreon_link !== 'null' || !user.profile_picture.paypal_link">
      <a [href]="user.profile_picture.patreon_link" target="_blank" rel="noopener noreferrer">Patreon</a>
    </div>
    <div *ngIf="user.profile_picture.twitter_link !== 'null' || !user.profile_picture.paypal_link">
      <a [href]="user.profile_picture.twitter_link" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
    <br>

    <div *ngIf="formLinkIsOpen">

      <form>
        <form (ngSubmit)="addDesc()" [formGroup]="descForm">
          <ion-input type="text" [(ngModel)]="user.profile_picture.description" formControlName="description">

          </ion-input>
		      <ion-button type="submit" [disabled]="!descForm.valid">Update</ion-button>
        </form>
      </form>

      <br>

      <form>
        <form (ngSubmit)="addLinks()" [formGroup]="linkForm">
          <ion-input type="text" placeholder="Paypal" formControlName="paypalLink"></ion-input>
          <ion-input type="text" placeholder="Patreon" formControlName="patreonLink"></ion-input>
          <ion-input type="text" placeholder="Twitter" formControlName="twitterLink"></ion-input>
		      <ion-button type="submit" [disabled]="!linkForm.valid">Update</ion-button>
        </form>
      </form>
    </div>

    <ion-button shape="round" (click)="formLinkIsOpen = !formLinkIsOpen">
      Manage your rofile&nbsp;<ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="creations">

    <div *ngFor="let creation of creations">
      <ion-img [src]="baseSrc + creation.creation" (click)="seeDetail(creation)"></ion-img>
      <h1>
        {{ creation.title }}
      </h1>
      <p *ngIf="creation.description !== 'null'">
        {{ creation.description }}
      </p>
      <app-image-toolbar
      [favCount]="creation.fav_count"
      [downloadCount]="creation.download_count"
      [creationId]="creation.id"
      [userId]="creation.user.id"
      [favorite]="creation['favorite']"
      [url]="baseSrc + creation.creation"
      [imgName]="creation.title"
    >
    </app-image-toolbar>
    </div>
  </div>
</ion-content>
