ion-content {
  --background: #3f3f3f;
}

h2 {
  color: #ff5b8c;
  font-style: italic;
  padding-left: 15px;
}

.image {
  width: 75%;
  margin: auto;
}

.image1 {
  width: 100px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.creation {
  padding-bottom: 15px;
}

.desc {
  padding: 15px;
  border: rgb(159, 0, 77) solid 1px;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 3%;
  color: rgb(170, 170, 170);

  h1 {
    margin: 0;
    font-weight: bolder;
    padding-bottom: 10px;
  }

  h3 {
    font-size: small;
  }

  p {
    font-style: italic;
  }
}

.profile {
  cursor: pointer;
  color: #ff5b8c;

}
