<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form enctype="multipart/form-data" method="post" (ngSubmit)="register()" [formGroup]="registerForm" >
		<div class="input-group">
      <ion-item>
				<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>
      <!-- <ion-item>
				<ion-input type="password" placeholder="Confirm password" formControlName="confirmPassword"></ion-input>
			</ion-item> -->
      <app-profile-pic-upload formControlName="profile_picture"></app-profile-pic-upload>
		</div>
		<ion-button type="submit" expand="block" [disabled]="!registerForm.valid">Register</ion-button>
	</form>
</ion-content>
