  <ion-toolbar>
    <form (ngSubmit)="search()" [formGroup]="searchForm">
			<ion-input type="text" placeholder="Search !" formControlName="search"></ion-input>
		  <ion-button type="submit" [disabled]="!searchForm.valid" shape="round" size="small" color="medium">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </form>
  </ion-toolbar>

<ion-content>
  <div *ngIf="creations.length">
    <div *ngFor="let creation of creations">
      <ion-img [src]="baseSrc + creation.creation" (click)="seeDetail(creation)"></ion-img>
      <h1>
        {{ creation.title }}
      </h1>
      <p *ngIf="creation.description !== 'null'">
        {{ creation.description }}
      </p>
      <app-image-toolbar
        [favCount]="creation.fav_count"
        [downloadCount]="creation.download_count"
        [creationId]="creation.id"
        [userId]="creation.user.id"
        [favorite]="creation['favorite']"
        [url]="baseSrc + creation.creation"
        [imgName]="creation.title"
      >
      </app-image-toolbar>
    </div>
  </div>
  <div *ngIf="!creations.length && searchActive" class="placeholder">
    No Results :(
  </div>
  <div *ngIf="!creations.length && !searchActive" class="placeholder">
    Search any creations by its title !
  </div>
</ion-content>
