<ion-content>
	<ion-slides pager="true">
		<!-- Slide 1 -->
		<ion-slide>
			<ion-text color="light">
				<h1>Hey there!</h1>
				<p>Welcome on AJAFA</p>
				<ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
			</ion-text>
		</ion-slide>

		<!-- Slide 2 -->
		<ion-slide>
			<ion-text color="light">
				<h1>Lorem ipsum dolor.</h1>
				<p>
        Sit amet consectetur adipisicing elit. Quo porro error commodi unde expedita temporibus laborum modi voluptatibus. Vel nam deleniti ut neque expedita necessitatibus vitae, numquam nulla ea accusantium?
        </p>
				<ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
			</ion-text>
		</ion-slide>
	</ion-slides>
</ion-content>
