<ion-header *ngIf="creation">
  <ion-toolbar>
    <ion-title>{{creation[0].title | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="creation">
  <ion-img [src]="src"></ion-img>
  <p *ngIf="creation[0].description !== 'null'">{{creation[0].description | titlecase}}</p>
  <app-image-toolbar
    [favCount]="creation[0].fav_count"
    [downloadCount]="creation[0].download_count"
    [creationId]="creation[0].id"
    [userId]="creation[0].user.id"
    [favorite]="creation[0]['favorite']"
    [url]="src"
    [imgName]="creation[0].title"
  >
  </app-image-toolbar>

</ion-content>
