ion-content {
  --background: #3f3f3f;
}

.desc {
  padding: 15px;
  border: rgb(159, 0, 77) solid 1px;
  border-radius: 10px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 3%;
  color: rgb(170, 170, 170);

    h1 {
      margin: 0;
      font-weight: bolder;
      padding-bottom: 10px;
    }

    h3 {
      font-size: small;
    }

    .image {
      margin-bottom: 15px;
    }

    p {
      font-style: italic;
      margin-bottom: 10px;
    }
}

.post-comment {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 3%;
}

.profile {
  cursor: pointer;
  color: #ff5b8c;
}

.comment {

  margin-left: 5%;
  margin-right: 5%;

  p {
    font-style: italic;
    color: rgb(170, 170, 170);
  }
}

.comment-form {
  border: rgb(159, 0, 77) solid 1px;
  margin-left: 3%;
  border-radius: 10px;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 15px;

  ion-item {
    border: rgb(159, 0, 77) solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .comment-button {
    display: flex;
    justify-content: space-evenly;
  }
}
